.rootdiv{
    width: 500px;
    height: 900px;
    background-color: white;
    margin: auto;
}

body{
    background-color: bisque;
}

.header{
    background-color: white;
    height: 100px;
    text-align: center;
    border-style: solid;
    border-color: orange;
}

.img{ 
    height: 100px;
    width: 100px;
}

.body{
    background-color: white;
    height: 500px;
    padding: 10px;
}

.img{
    height: 50px;
    
}

.kilishi{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.kulikuli{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.Peanut{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.Chips{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.Kokoro{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.Danbunama{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}