.welcome {
    background-color: goldenrod;
    text-align: center;
    padding: 10px;
    color: blue;
}

.navigation {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


body {
    background-color: bisque;
    margin: 0;

}

.aboutevents {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 80px;
}


.aboutevents h2,
.event h2,
.contact h2 {
    color: goldenrod;
}


.event {
    padding: 10px;
    background-color: white;
    margin: 10px 80px;
    border-radius: 10px;
}



table th {
    background-color: rgb(235, 233, 243);
    text-align: left;
}

table {
    width: 100%;
    border: 2px solid rgb(238, 238, 255);
    border-collapse: collapse;
}

table td,
th {
    border: 2px solid red;
    padding: 10px;
}



.contact {
    background-color: rgb(252, 247, 221);
    margin: 10px 80px;
    border-radius: 5px;
    padding: 10px;
}

form label,
form input,
textarea,
button{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

form button:hover{
    background-color: blue;
    cursor: pointer;
    transition: 0.3ms;
    text-emphasis: 10px;
}
